
* {
    margin: 0;
    background-size: cover;
    
    padding: 0;
}


body {
    background-image: url(Picsart_22-02-02_19-29-11-537.jpg);
}




header {
    display: flex;
    align-items: center;
    font-family: 'Rowdies', cursive;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    
}

header h1 {
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    padding-left: 2px;
}

.logo {
    width: 60px;  
    padding-left: 5px;
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(250deg) brightness(106%) contrast(104%);
}




.titre {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Rowdies', cursive;
    text-shadow: rgb(0, 110, 255) 1px 0 10px; 
    font-size: 30px;
    color: rgb(255, 255, 255);
    

}

.titre h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40px;
    margin: 30px;
}


ul {
    
    text-align: center;
    font-size: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin: 40px;
    border-radius: 5px;

    
}


ul li {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: column;
    
   
    
}

ul li a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);

    
    
}



.instagram  {
    background: linear-gradient(to bottom right, rgb(255, 187, 0), rgb(248, 47, 248));
    border: 2px solid black;
    border-radius: 15px;
    
    
    
}

.tiktok {
    background: linear-gradient(to bottom right, rgb(0, 102, 255), rgb(211, 101, 101));
    border: 2px solid black;
    border-radius: 15px;
}

.youtube{
    background: linear-gradient(to bottom right, rgb(255, 126, 126), rgb(255, 0, 0));
    border: 2px solid black;
    border-radius: 15px;
}



.facebook{
    background: linear-gradient(to bottom right, rgb(17, 0, 255), rgb(0, 183, 255));
    border: 2px solid black;
    border-radius: 15px;
}


